<div class="dashboard-container">
  <h2>Dashboard de Monitoramento de Arquivos</h2>

  <ng-container *ngIf="statistics$ | async as stats; else loading">
    <div *ngIf="stats" class="stats-cards">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Total de Arquivos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3>{{ stats.totalArquivos }}</h3>
        </mat-card-content>
      </mat-card>

      <mat-card >
        <mat-card-header>
          <mat-card-title class="recepcionados">Arquivos Recepcionados</mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <h3 class="recepcionados">{{ stats.arquivosRecepcionados }}</h3>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title class="nao-recepcionados">Arquivos Não Recepcionados</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3 class="nao-recepcionados">{{ stats.arquivosNaoRecepcionados }}</h3>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Percentual de Sucesso</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3>{{ stats.percentualSucesso | number: '1.2-2' }}%</h3>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="chartData.length > 0" class="chart-container">
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="chartData"
        [gradient]="gradient"
        [legend]="showLegend"
        [labels]="true"
        [doughnut]="false"
        [legendTitle]="'Status dos Arquivos'"
      >
      </ngx-charts-pie-chart>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
      <p>Carregando estatísticas...</p>
    </div>
  </ng-template>
</div>
