.dashboard-container {
  padding: 20px;

  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 20px;
    color: #3f51b5; /* Primary color */
  }

  .stats-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 40px;

    mat-card {
      text-align: center;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: translateY(-5px);
      }

      mat-card-title {
        font-size: 1.2em;
        color: black; /* Accent color */
      }

      h3 {
        font-size: 2.5em;
        margin: 10px 0 0;
        color: rgb(90, 89, 89); /* Primary color */
      }
      .recepcionados {
      color: #4caf50; /* Green for success */
      font-weight: bold;
      }
      .nao-recepcionados {
        color: #f44336; /* Red for error */
        font-weight: bold;
    }
  }
  }

  .chart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
  }

 
  .loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    color: #3f51b5; /* Primary color */

    mat-spinner {
      margin-bottom: 10px;
    }
  }
}

::ng-deep .ngx-charts-outer .arc-link-label {
  font-size: 30px !important; /* Adjust the size as needed */
}