.file-list-container {
  padding: 20px;

  h2 {
    margin-bottom: 20px;
    color: #3f51b5; /* Primary color */
  }

  .actions-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .filter-field {
      width: 300px;
    }
  }

  .mat-elevation-z8 {
    width: 100%;
    overflow-x: auto; 
  }

  table {
    width: 100%;
  }

  .mat-column-actions {
    width: 80px;
    text-align: center;
  }

  .mat-row.mat-no-data-row {
    text-align: center;
    font-style: italic;
    color: #757575;
  }
}

mat-chip.status-processed {
  background-color: #4CAF50 !important; /* Green */
  text-transform: uppercase;
}

mat-chip.status-not-received {
  background-color: #f44336 !important; /* Red */
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .file-list-container {
    padding: 10px;
  }

  .actions-row {
    flex-direction: column;
    align-items: stretch; /* Stretch items to fill the width */
  }

  .filter-field {
    width: 100%; /* Full width on small screens */
    margin-bottom: 10px; /* Add some space below the filter */
  }

  .actions-row button {
    width: 100%; /* Make button full width */
  }
}




